DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/mydb?sslmode=disable
JWT_SECRET=your_super_secret_key
TOKEN_EXPIRE_HOURS=24
KAFKA_BROKERS=127.0.0.1:9092
KAFKA_TOPIC_USER=becomeoverman.user.events
KAFKA_TOPIC_QUEST=becomeoverman.quest.events
